body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100lvh;
    text-align: center;
}

.inputField{
    font-size: 25px;
    width: 120px;
    padding: 5px;
    border-radius: 8px;
    border: 2px solid black;
}

.inputSelect{
    background-color: bisque;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 8px;
}

.button{
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    border: 2px solid black;
    border-radius: 8px;
}

.equals{
    font-size: 50px;
    font-weight: bold;
}